<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.BIND_APPWIDGET" tools:ignore="ProtectedPermissions" />

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent>
        <intent>
            <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        </intent>
        <intent>
            <action android:name="org.adw.launcher.THEMES" />
        </intent>
        <intent>
            <action android:name="com.novalauncher.THEME" />
        </intent>
        <intent>
            <action android:name="com.teslacoilsw.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="com.anddoes.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="app.lawnchair.icons.action.APPLICATION" />
        </intent>
        <intent>
            <action android:name="com.fede.launcher.THEME_ICONPACK" />
        </intent>
        <intent>
            <action android:name="com.gau.go.launcherex.theme" />
        </intent>
        <intent>
            <action android:name="com.dlto.atom.launcher.THEME" />
        </intent>
        <intent>
            <action android:name="com.sonymobile.home.ICON_PACK" />
        </intent>
        <intent>
            <action android:name="ch.deletescape.lawnchair.ICONPACK" />
        </intent>
    </queries>

    <application
        android:name=".CyclauncherApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Cyclauncher"
        android:theme="@style/Theme.Cyclauncher.Transparent">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:resumeWhilePausing="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="uiMode|colorMode|screenSize|screenLayout|orientation|keyboardHidden|keyboard|density|fontScale|assetsPaths">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>
